<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Computer Shops </title>
</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo center">Computer Shop Aggregator</a>
                <ul class="right ">
                    {% if username %}
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
                        <i class="material-icons left">face</i>
                        {{username}}
                    </a></li>

                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="{{ url_for('logout') }}">Sign out</a></li>
                    </ul>

                    {% else %}
                    <li><a class="waves-effect waves-light btn" href="{{ url_for('login') }}">Sign in</a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
{% block index %}
{% endblock %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
    });
</script>
</body>
</html>