{% extends 'base.html' %}

{% block index %}
<h2>Login</h2>
{% if login_incorrect %}
<h3>Incorrect credentials!</h3>
{% endif %}
<form action="{{ url_for('login') }}" method="POST">
    <p>Email</p>
    <input type="text" size="30" name="email">
    <p>Password</p>
    <input type="password" size="30" name="password" required>
    <br>
    <input type='submit' value='Login'>
    <a href="{{ url_for('entry_point') }}">cancel</a>
</form>

Sign in with twitter.

<a href="{{ url_for('twitter_login') }}"><img src="{{
        url_for('static', filename='sign-in.png')}}" alt="sign in"></a>
{% endblock %}
