{% extends 'base.html' %}

{% block index %}
<div class="row">
    <div class="col s12">
        <h3 class="red-text">{{ shop.name }}</h3>
    </div>
</div>

<form class="row" action="{{ url_for('edit_product', shop_id=shop.id, product_id=product.id) }}" method="POST">
    <div class="col s12">
        <h6>Edit product name</h6>
    </div>

    <div class="col s12 input-field">
        <input id="name" type="text" size="30" name="name" value="{{ product.name }}" required="required">
        <label for="name">Product name</label>
    </div>

    <div class="col s12 input-field">
        <input id="description" type="text" size="100" name="description" value="{{ product.description }}"
               required="required">
        <label for="description">Description</label>
    </div>

    <div class="col s12 input-field">
        <input id="price" type="text" size="30" name="price" value="{{ product.price }}" required="required">
        <label for="price">Price</label>
    </div>

    <div class="col s12">
        <button class="btn waves-effect waves-light red" type="submit" name="action">
            Save
            <i class="material-icons right">send</i>
        </button>
        <span>
            or <a href="{{ url_for('home') }}">go back</a>
        </span>
    </div>
</form>

{% endblock %}
