{% extends 'base.html' %}

{% block index %}
<h2> {{ shop.name }} </h2>

<h3>Make a new product for your shop</h3>
<form action="{{ url_for('create_product', shop_id=shop.id) }}" method="POST">
    <p>Product name: </p>
    <input type="text" size="30" name="name">
    <p>Product description</p>
    <input type="text" size="100" name="description">
    <p>Product price</p>
    <input type="text" size="30" name="price">
    <br>
    <input type='submit' value='Create new product'>
    <a href="{{ url_for('get_shop', shop_id=shop.id) }}">cancel</a>
</form>

{% endblock %}
