{% extends 'base.html' %}

{% block index %}
<h2>{{ shop.name }} </h2>

<h3>Edit my product</h3>
<form action="{{ url_for('edit_product', shop_id=shop.id, product_id=product.id) }}" method="POST">
    <p>Edit product name</p>
    <input type="text" size="30" name="name" value="{{ product.name }}">
    <p>Edit product description</p>
    <input type="text" size="100" name="description" value="{{ product.description }}">
    <p>Edit product price</p>
    <input type="text" size="30" name="price" value="{{ product.price }}">
    <br>
    <input type='submit' value='Change'>
    <a href="{{ url_for('get_product', shop_id=shop.id, product_id=product.id) }}">cancel</a>
</form>

{% endblock %}
