{% extends 'base.html' %}

{% block index %}
<div class="row">
    <div class="col s12">
        <h3 class="red-text">Create a new shop</h3>
    </div>
</div>

<div class="row">
    <form action="{{ url_for('create_shop') }}" method="POST">
        <div class="col s12 input-field">
            <input id="name" type="text" size="30" name="name" required="required">
            <label for="name">Shop name</label>
        </div>

        <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
            <span>
                or <a href="{{ url_for('home') }}">go back</a>
            </span>

        </div>
    </form>
</div>
{% endblock %}
