{% extends 'base.html' %}

{% block index %}
<div class="row">
    <div class="col s12">
        <h3 class="red-text">{{ shop.name }}</h3>
    </div>
</div>

{% if shop.user.username == username %}
<div class="row">
    <div class="col s12">
        <a href="{{ url_for('create_product', shop_id=shop.id)}}" class="waves-effect waves-light btn red">
            <i class="material-icons left">add</i>
            Create product
        </a>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col s12">
        {% if products|length == 0 %}
        <p>No products available in this shop</p>
        {% else %}
        <ul class="collapsible">
            {% for product in products %}
            <li>
                <div class="collapsible-header">{{ product.name }}</div>
                <div class="collapsible-body">
                    <h6>
                        <i class="material-icons">local_library</i>
                        Description
                    </h6>
                    <p>{{ product.description}}</p>

                    <h6>
                        <i class="material-icons">style</i>
                        Price
                    </h6>
                    <p>&#128; {{ product.price }}</p>
                    {% if shop.user.username == username %}
                    <div>
                        <a href="{{ url_for('edit_product', shop_id=shop.id, product_id=product.id)}}"
                           class="btn-floating btn waves-effect waves-light red">
                            <i class="material-icons left">edit</i>
                        </a>
                        <a href="{{ url_for('delete_product', shop_id=shop.id, product_id=product.id)}}"
                           class="btn-floating btn waves-effect waves-light red">
                            <i class="material-icons left">delete</i>
                        </a>
                        <a href="{{ url_for('get_product', shop_id=shop.id, product_id=product.id)}}"
                           class="btn-floating btn waves-effect waves-light red">
                            <i class="material-icons left">open_in_new</i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}