{% extends 'base.html' %}

{% block index %}
<h3>{{ shop.name }}</h3>
<ul class="collapsible">
    {% for product in products %}
    <li>
        <div class="collapsible-header">{{ product.name }}</div>
        <div class="collapsible-body">
            {{ product.description}} <br>
            {{ product.price }}
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('.collapsible').collapsible();-->
<!--    });-->
<!--</script>-->